body{
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: #DFD7BF;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
    background-color: #DFD7BF;
}

#conteudo{
    display: flex;
    padding-left: 18px;
    padding-right: 18px;
    width: 90.3%;
    max-width: 1280px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #DFD7BF;
}

.menu-invisivel{
    display: none;
}

.menu-visivel{
    display: flex;
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    flex-direction: column;
    background-color: #DFD7BF;
}

#barras{
    height: 16px;
    width: 17px;
}

.menu-visivel{
    display: none;
    position: absolute;
    background-color: #DFD7BF;
    width: auto;
    max-width: 100px;

}

#img{
    height: 20px;
    width: 35px;
}